$main-color:black;
$sub-color:rgb(171,144,77);
$fade:rgba(0, 0, 0, 0.8);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


// body {
//     background-color: $main-color;
//     background-image: url('floralwp.jpg');
//     background-repeat: repeat;
//     background-size: auto;
//     background-attachment: fixed;   
// }

body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-image: url('floralwp.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


.main {
    position: fixed;
    z-index: 100000;
    border-bottom: 2px solid $sub-color;
    width: 100vw;
    text-align: center;

    .logo {
        background-color: $main-color;
       

        .main-logo {
            background-color:$main-color;
            padding:2rem;
            margin: auto;
           
        }
    }

    
    .navbar {
        background-color: $main-color;
        justify-content: center;
       
    
        .nav-link {
            color: white;
        }
        .nav-link:hover {
            color: $sub-color;
        }

        // .btn {
        //     background-color: $sub-color;
        //     font-size: 0.8rem;
        //     margin-left: 2rem;
        //     border: 1px solid $main-color;
        // }
    
    }
}


.book-now {
    text-align: center;
    background-color: $fade;
    padding-top: 18rem;
    padding-bottom: 4rem;
    
    
  
    .greeting{
         color: $sub-color;
        font-size: 1.5rem;
    }

    .btn {
        background-color: $main-color;
        color: $sub-color;
        font-size: 1.5rem;
        border: 3px solid $sub-color;
    }

    .btn:hover {
        background-color: $sub-color;
        color: $main-color;
    }

    h2 {
        color: $sub-color;
        font-size: 1.5rem;
    }
    
    
    h3{
        color: white;
        font-size: 1.5rem;
        margin-top: 3rem;
    }

    h4 {
        color: white;
        font-size: 1.2rem;
    }

    p{
        color: white;
        font-size: 0.8rem;
    }
}

.breakdown {
    padding:4rem;
    background-color: $main-color;

    h2 {
        font-size: 1.6rem;
        text-align: center;
        color: $sub-color;
    }



    p {
        text-align: center;
        color: white;

        span {
            color: $sub-color;
            font-style: italic;
        }
    }

}

.prices {
    background-color: $fade;
    padding: 14rem 0 22rem 0;
  

   
    
    h2 {
        color:$sub-color;
        text-align: center;
        font-size: 1.5rem;
    }

    ul {
        padding: 0 1rem;
    }

    .dynamic {
        max-width: 100%;
        padding: 0;
        margin: 0;

     

        .optional {

            p {
                color: $sub-color;
                text-align: center;
                font-size: 1rem;
                color: white;
            }

            .policy {
                font-size: 0.7rem;
                background-color: $main-color;
                padding: 1rem;

                h5 {
                    text-align: center;
                    color: $sub-color;
    
                }
    
                h6 {
                    text-align: center;
                    color: $sub-color;
                }

                p{
                    font-size: 0.8rem;
                    color: $sub-color;
                }
            }

            .covid {
                @extend .policy;
                text-align: center;
                margin-top: 1.5rem;

                p {
                    text-align: left;

                    a {
                        color: $sub-color;
                        font-size: 0.7rem;
                        font-weight: 800;
                    }
                }
                
            }
        }

        .book2 {
            text-align: center;
        }

        .btn {
            background-color: $main-color;
            color: $sub-color;
            font-size: 1.2rem;
            border: 2px solid $sub-color;
        }
    
        .btn:hover {
            background-color: $sub-color;
            color: $main-color;
        }
    

        
    }

    ul {
       text-align: center;
    }

    a {
        color:$sub-color;
        font-size: 1rem;
    }

    a:hover {
        color: white;
        text-decoration: none;
    }

   

    .output {
        color: white;
        background-color:$main-color;
        padding: 0;

        .thisoutput{
            padding:3rem;

        }

        div {
            padding: 0;
            margin-bottom: 2rem;
        }
        
        h4 {
            color:$sub-color;
            text-align: left;
            font-size: 1.2rem;
            margin-bottom: 1.2rem;
        }
    
        h5 {
            font-size:1rem ;
        }

        p {
            font-size: 0.9rem;
        }
      
    }
    
    
    
}

.promotions {
    background-color: $main-color;
    height: 100vh;
    padding-top: 18rem;


    h2 {
        color: $sub-color;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    h4 {
        color: white;
        text-align: center;
    }
    p {
        color: white;
        text-align: center;
        padding: 0;
    }

    p:nth-child(5) {
        margin:0;
    }
}

.hours {
    background-color: $fade;
    padding: 10rem 2rem 0 2rem;
    height: 100vh;


    h3 {
        color: $sub-color;
        font-size: 1.25rem;
        text-align: center;
    }

    p {
        text-align: center;
        color: white;
    }

    
}

.location {
padding-top:1rem;
background-color: $main-color;

    p{
        font-size: 0.8rem;
        color: white;
        text-align: center;
        margin-bottom: 0;
        
    }

    iframe{
        height: 30vh;
        width:100%;
    }

}

.contactme {
    background-color: $main-color;
    padding: 4rem 0 1rem 0;
    text-align: center;

    h1 {
        color: $sub-color;
        font-size: 0.8rem;
        margin:0;

        a {
            @extend h1;
        }
    }

    a {
        @extend h1;
        font-size:1rem;
    }

    a:hover {
        text-decoration: none;
        color: white;
    }

    .social {
        text-align: center;

        a {
            padding: 0 1rem 0 1rem;
            font-size: 2rem;
            color: $sub-color;
           
        }

        a:hover {
            // color: white;
            text-decoration: none;
        }

        a:hover:first-child {
            color: lightblue;
        }

        a:hover:last-child {
            color:orangered
        }
    }
  
}

footer {
background-color:$main-color;
padding: 1rem;
border-top: 2px solid $sub-color;


    h3{
        color: $sub-color;
        font-size: 0.8rem;
        text-align: center;
        width:100%;

        a {
            @extend h3;

        }

        a:hover {
            color:white;
            text-decoration: none;
        }


    }



}

// responsive sizes

@media screen and (min-width:680px){

    .main-logo {
        
        width:680px
    }
    
}